@model MaliyetVM
@{
    ViewBag.Title = "UpdateMal";
    Layout = "~/Views/Shared/_Sirket.cshtml";
}

<h3>@ViewBag.Message</h3>

<div>
    @using (Html.BeginForm("UpdateMal", "Company", FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.Maliyet.ID)
        <h6>Açıklama</h6>
        @Html.TextBoxFor(x => x.Maliyet.Aciklama, new { @class = "form-control" })
        <h6>Şirket</h6>
        <select class="btn btn-info dropdown-toggle" name="id" id="id">
            <option value="0">@(Model.Maliyet.YapilanIs.SirketAdi + " " + Model.Maliyet.YapilanIs.Aciklama)</option>
            @foreach (YapilanIs item in Model.YapilanIss)
            {
                <option value="@item.ID">@(item.SirketAdi +" "+ item.Aciklama)</option>
            }
        </select>
        <h6>Toplam Maliyet</h6>
        @Html.TextBoxFor(x => x.Maliyet.ToplamMaliyet, new { @class = "form-control", @type = "number", @min = "0", @placeholder = $"{Model.Maliyet.ToplamMaliyet}" })
        <h6>Ödemeler</h6>
        for (int i = 0; i < Model.Maliyet.MaliyetOdemes.Count; i++)
        {
            @Html.TextBoxFor(x => x.Maliyet.MaliyetOdemes[i].Odeme, new { @class = "form-control", @type = "number", @min = "0", @placeholder = $"{Model.Maliyet.MaliyetOdemes[i].Odeme}" })
        }

        <button class="btn btn-success">Güncelle</button>
    }
</div>

